@tailwind base;
@tailwind components;
@tailwind utilities;

*{
     font-family: iransansdn;
     outline: none;
     direction: rtl;
}

#__nuxt {
     @apply w-screen h-screen flex flex-col justify-start items-start ;
}
